* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.container {
  height: 100vh;
  background: teal;
  color: #eee;
}

.code style {
  font-family: monospace;
  font-size: 0.8rem;
  background: rgba(255, 255, 255, 0.2);
  padding: 0.25rem 0.75rem;
  border-radius: 12px;
  max-height: 80vh;
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

/*.card {
  width: 40vw;
  height: 50vh;
  background: #fefefe;
}


/* A bit of proper layout then */
/*.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 500px) {
   .container {
     flex-direction: column;
    }
	.card{
		width: 90%;
	}
	.code{
		width: 70%;
	}
}



.card {
  animation-name: rollUp;
	animation-duration: infinite;
}


@keyframes rollUp {
  0% {
    opacity: 0;
    transform: translateY(-50vh);
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  position: relative;
}
.card:before {
  color: #252525;
  font-family: monospace;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
